.contactItem__button {
    font-size: 17px;
        height: 35px;
        margin-left: auto;
        padding: 10px;
        border: 2px solid #c7c7c7;
        border-radius: 10px;
        color: black;
        background-color: #eddff0;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.contactItem__button:hover,
.contactItem__button:focus {
    background-color: rgb(208, 0, 255);
        color: #fff;
}
.contactItem {
    display: flex;
    flex-wrap: wrap;
}