@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  background-color: #eddff0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 20px 30px;
  width: 400px;
}

button {
  cursor: pointer;
}

.input-tel {
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
}

.input-tel:hover,
.input-tel:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}