.wrapper {
display: flex;
    align-items: center;
    gap: 20px;

}

.username {
    color: rgb(208, 0, 255);
}

.userMenu__button {
    display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 5px 10px;
        min-width: 70px;
    
        color: rgb(28, 144, 190);
        font-size: 15px;
        background-color: transparent;
        border: 2px solid rgb(208, 0, 255);;
        border-radius: 7px;
    
        transition: border 250ms linear;
    
        &:hover {
            border: 2px solid rgb(28, 144, 190);
        }
}